// Colors
$dark_grey: #333;
$dark_text: $dark_grey;
$lighter_grey: #edeeef;
$light_grey: #9e9e9e;

// Distances
$padding_unit: 8px;

// @media breaks
$mobile_s: 320px;
$mobile_m: 375px;
$mobile_l: 425px;

// MISC
$animation: .3s 0s cubic-bezier(.55,0,.1,1);
